# model
*.xml
*.csv
*.pth
*.npy
*.npz
*.png
*.jpg
*.tif
*.tiff
*.mp4
*.mov
data/
/trained_models
output/

# cache
__pycache__
cache/

# configs
*.ini

# system
/.idea
.DS_Store
.vscode

# note for developer
todo.md
